<%- include("partials/header") -%>
<h1>COMPOSE</h1>

<form action="/compose" style="display: inline;" method="post">
    <label for="title">Title</label>
    <input id="title" type="text" name="ptitle" style="width: 100%;">

    <label for="composed">Post</label>
    <textarea id="composed" name="pbody" style="width: 100%;" cols="30" rows="10" placeholder="compose here"></textarea>
    <button class="btn btn-primary" type="submit" name="btn">Publish</button>

</form>

























<%-include("partials/footer")-%>